:root {
    /* variables */
    --cg-black: rgb(30, 32, 32);
    --cg-blue: rgb(36, 94, 255);
    --cg-grey: rgb(243, 243, 243);
    --cg-white: rgb(255, 255, 255);
    --cg-rust: rgb(161,94,75);
    --cg-mustard: rgb(181,136,85);
    --cg-skyblue: rgb(158,190,179);
    --cg-cream: rgb(228, 212, 193);
    --cg-light_cream: rgb(195, 171, 141);


  }


  
  
  html {
    height: 100%;
    font-size: 16px;
  }
  
  body {
    background: var(--cg-cream);
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: monospace;
    color:rgb(13, 0, 0)
  }
  
  /* CSS for navigation */
  
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--cg-black);
    color: var(--cg-white);
    padding: 0px 0px;
  
    /* Debug border */
    /* border: solid red; */
  }
  
  .nav-list {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 30px;
    list-style: none;
  
    /* Debug border */
    /* border: solid blue; */
  }
  
  .navbar a {
    color: var(--cg-white);
    font-weight: bold;
    margin: 0 12px;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: monospace;
  }
  
  .navbar a:hover {
    color: var(--cg-blue);
    text-decoration: underline;
  }
  
  .navbar a:active {
    color: var(--cg-blue);
  }
  
  
  .logo a:hover {
    text-decoration: None;
  }
  
  main {
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .page-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: Georgia;
    padding-top: 30px;
  }

  .page-title-resume{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: Georgia;
    padding-top: 30px;
    padding-bottom: 30px;
    background: var(--cg-light_cream);
  }

  .introduction {
    display: flex;
    padding-left: 20px; 
    justify-content: center;
  }

  .home-text{
    text-align: center;
  }


  .introduction1{
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    scroll-snap-align: start;
    }
      

  .personal-image img{
    width: 530px;
    scroll-snap-align: start;
  }

  .description {
    width: 500px; 
    height: 50px; 
    scroll-snap-align: start;
  }

  
  /* CSS for portfolio grid */
  
  .project {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 1em 0 2em 0;
  
    /* Debug border */
    /* border: 2px solid blue; */
  }
  
  .item-link {
    width: 70%;
  
    /* Debug border */
    /* border: 2px solid red; */
  }
  
  .project-image {
    object-fit: cover;
    width: 100%;
    height: 500px;
    flex-basis: 50px;
    flex-grow: 2;
  
    /* Debug border */
    /* border: 2px solid black; */
  }
  
  .project-details {
    display: flex;
    background-color: var(--cg-white);
    width: 30%;
    height: 500px;
    flex-shrink: 1;
    padding: 0 20px;
    margin: 0px;
    line-height: 1.5;
    overflow: scroll;
  
    flex-direction: column;
    text-align: center;
    justify-content: center;
  
    /* Debug border */
    /* border: 2px solid green; */
  }
  
  .project-details a {
    color: var(--cg-black);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .project-details a:hover {
    color: var(--cg-blue);
    text-decoration: underline;
  }
  
  .project-details {
    font-weight: lighter;
  }
  
  .project-name {
    font-weight: bold;
    font-size: 20px;
  }
  
  /* CSS for home page */
  
  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /*background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  .about-image img {
    max-width: 300px;
    border-radius: 3px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  }
  
  .about-text {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin-left: 70px;
    
  }

  

  .intro_drawing1 {
    width: 110%;
    padding-bottom: 130px;
  }

  
  .about-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-text p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* CSS for resume page */
  
  .button {
    background-color: var(--cg-black);
    border: none;
    color: var(--cg-white);
  
    font-family: monospace;
  
    padding: 5px 7px;
    text-align: center;
  
    border-radius: 2px;
  }
  
  .button:hover {
    background-color: var(--cg-blue);
  }
  
  .resume h2 {
    font-family: Georgia;
  }
  
  /* CSS for contact form */
  
  label {
    display: block;
    margin-bottom: 8px;
    font-family: Georgia;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
  }
  
  /* Add some spacing to the form */
  form {
    width: 500px;
    margin: 0 auto;
  }
  
  /* CSS for footer */
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cg-black);
    color: var(--cg-white);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }

.container1 {
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;

}

.profile_pic img{
    width: 450px;
    padding-right: 40px;
    padding-top: 30px;
}

.intro_text {
    width: 400px;
}


.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    color:aliceblue
}

.about_text{
    width: 400px;
    padding-left: 90px;
}

.container3{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
}

.wow_picture img {
    max-height: 450px; 
    padding: 10px
}

.homepage_pic img{
    width: 700px;
    padding-right: 30px;
    padding-left: 30px;
}

.resume{
  background: var(--cg-light_cream);
  padding: 10px;
}

.resume-link{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}